:root {
	--cream-green: #B0DB9C;
	--pastel-dim-green: #A5B68D;
	--cream-navy-blue: #A6AEBF;
}

@font-face {
	font-family: sfpr-reg;
	src: url(fonts/SFPRODISPLAYREGULAR.OTF);
}

* {
	margin: 0;
	padding: 0;
	font-family: sfpr-reg;
	text-decoration: none;
}

body {
	height: 100vh;
	position: relative;
}

.navbar {
	user-select: none;
	display: flex;
	justify-content: space-evenly;
	padding: 10px;

	background: var(--cream-green);
}

.navbar .links {
	display: flex;
	width: 30%;
	cursor: pointer;

	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}

main {
	height: 100%;
	width: 100%;
	justify-items: center;	
	background: whitesmoke;
	padding-top: 10%;
}

.hero {
	padding: 30px;
	border-radius: 20px;

	text-align: center;
	align-items: center;
	width: fit-content;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
}

.categories {
	margin: 10px;
	display: flex;
	user-select: none;
}

.categories p {
	cursor: pointer;
	margin: auto;
	padding: 9px;
	background: var(--cream-navy-blue);
}

.search-bar {
	display: flex;
}

.search-bar * {
	margin: 4px;
	font-size: 2rem;
}

#product-in {
	padding: 4px;
	border-radius: 10px;
	width: 100%;
}

#search-btn {
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;

	background: var(--pastel-dim-green);
}